:root {
    .root.light {
        --header-bg: #ffffff;
    }

    .root.dark {
        --header-bg: #000000;
        --header-logo-bg: #ffffff;
        --bg-primary: #121212;
        --bg-secondary: #212121;
        --txt-primary: #ffffff;
        --txt-secondary: #9e9e9e;
    }
}
