.wrapper {
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.text_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.title {
    color: var(--txt-primary);
}

.subtitle {
    color: var(--txt-secondary);
    text-align: center;
}