.table {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    color: var(--txt-secondary);

    & + & {
        border-top: 1px solid #2e2e2e;
    }

    &__info {
        flex: 1;
        padding-inline: 16px;

        &__title {
            font-size: 15px;
            font-weight: 500;
            line-height: 1.4;
            color: var(--txt-primary);
            margin: 0 0 4px;
        }

        &__format {
            display: flex;
            gap: 12px;
            align-items: center;

            &__episodes {
                font-size: 12px;
                margin: 2px 0;
                span {
                    color: var(--txt-primary);
                    font-size: 14px;
                }
            }
            &__badges {
                display: flex;
                gap: 4px;
                margin: 2px 0;

                &__badge {
                    display: inline-flex;
                    align-items: center;
                    padding: 3px 10px;
                    font-size: 12px;
                    background: rgba(255, 232, 100, 0.1);
                    color: #ffeb3b;
                    caret-color: #ffeb3b;
                    border-radius: 6px;
                }
                &__hardsub {
                    display: inline-flex;
                    align-items: center;
                    padding: 3px 10px;
                    font-size: 12px;
                    background: rgba(56, 163, 56, 0.1);
                    color: #4caf50;
                    caret-color: #4caf50;
                    border-radius: 6px;
                }
            }
        }
        &__stats {
            font-size: 12px;
            margin: 4px 0;
            gap: 3px;
            display: flex;
            align-items: center !important;
        }
        &__meta {
            font-size: 12px;
            margin: 5px 0;
        }
        &__members {
            display: inline-flex;
            align-items: center;
            padding: 3px 10px;
            font-size: 12px;
            background: rgba(255, 255, 255, 0.1);
            color: var(--txt-secondary);
            border-radius: 6px;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;

        button,
        a {
            background: rgba(255, 255, 255, 0.1);
            border: none;
            padding: 8px;
            border-radius: 6px;
            cursor: pointer;
            transition: background 0.2s;
            color: var(--txt-secondary);
            display: flex;
        }
        button:hover,
        a:hover {
            background: rgba(255, 255, 255, 0.2);
        }
    }
}
