.torrents {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__wrapper {
        background: var( --bg-secondary);
        border-radius: 12px;
        overflow: hidden;
    }

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        padding: 4px 10px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        text-decoration: none;
        transition: background 0.2s;
        padding: 10px 12px;
        cursor: pointer;

        &:hover {
            background: rgba(255, 255, 255, 0.2);
            cursor: pointer;
        }

        button {
            color: #fff;
            font-size: 11px;
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
        }
    }

    &__status {
        color: var(--txt-secondary);
        text-align: center;
        padding: 16px;
    }
}
